<!-- <form style='text-align: center'> -->
    
  
    <div class="container">
      <b >Email</b><input type="text" placeholder="Enter Email" [(ngModel)] = 'email' required />
      <p>{{email}}</p>
      <b>Password</b><input type="password" placeholder="Enter Password" [(ngModel)]='password' required />
        {{password}}
      <button (click) = 'Login()'>Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button class="signup" (click) = 'GoToRegister()'>Signup</button>
    </div>
  <!-- </form> -->
  